{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extrastatic %}
<link rel="stylesheet" href="{% static 'css/fastselect.css' %}">
{% endblock %}
{% block content %}
    <!-- For demo purpose -->
    <div class="content" style="padding-top: 15px;">
      <div class="col-md-12">

          <div class="card card-outline card-info">
            <div class="card-header" style = "padding-top: 6px;padding-bottom: 0px;">
              <h4 class="card-title">
                Registro de rubros
              </h4>
              <!-- tools box -->

              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pad">
              <div class="mb-3">
                <form id="myForm" class="form-horizontal" method="post">
                  <div class="box-body">
                      {% csrf_token %}

                    {% for hidden_field in formA.hidden_fields %}
                      {{ hidden_field }}
                    {% endfor %}

                    {% if formA.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in formA.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in formA.visible_fields %}
                    {% if field.name != 'etiquetas' %}
                      <div class="form-group row">
                        <label for="{field}" class="col-sm-3 col-form-label">{{field.label_tag}}</label>
                        {% if formA.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                        <div class="col-sm-9">
                          {% render_field field class="form-control" %}
                        </div>
                        {% endif %}

                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                      {% else %}
                        <p>Etiquetas:</p>
                        <input
                        type="text"
                        multiple
                        class="tagsInput"
                        value=""
                        data-initial-value='{{empresa_json_tags|safe}}'
                        data-user-option-allowed="true"
                        data-url="/staticfiles/js/hola.json"
                        data-load-once="true"
                        name="etiquetas"
                        id="id_etiquetas"/>    
                      {% endif %}
                    {% endfor %}
                        <div class="content">
                            <button type="button" id="sidebarCollapse" class="btn navbar-btn" data-toggle="tooltip" data-placement="right" title="Ocultar / Mostrar barra lateral">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span></span>
                            </button>
                            <div class="container-fluid"></div>                    
                            <button type="button" id="toggle-dragable" class="btn btn-layout"  data-toggle="tooltip" data-placement="right" title="Act. / Des. mover marcadores">
                            <i class="fas fa-route" ></i>
                            </button>
                        </div>                    
                    </div>
                </div>
                      
                    <div class="box-footer">
                    <button class="btn btn-light back-list" onclick="backList()">Cancelar</button>
                    <button type="submit" class="btn btn-success ">Guardar</button>
                  </div>
                  </div>
                </form>   
              </div>
            </div>
          </div>
      </div>
    </div>




{% endblock %}



{% block javascript %}
<script src="{% static 'js/fastselect.standalone.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('.tagsInput').fastselect();

        //console.log('{{empresa_json_tags | safe}}')
          $('[data-toggle="tooltip"]').tooltip();
          $('.btn-layout').click(function() {
            $(this).toggleClass("btn-layout-active");
          });
          $(".back-list").click(function(ev){         
            ev.preventDefault();
            document.location.href = "/comun/emprubrolist/";
        });
        });
        $("#myForm").submit(function (e) {
          e.preventDefault();
          var serializedData = $(this).serialize() + '&id_row={{id_row}}';
          $.ajax({
              type: 'POST',
              url: "{% url 'comun:empresa_rubro_postajax' %}",
              data: serializedData,
              success: function (response) {
                  Swal.fire({
                  icon: "success",
                  title: "Exito!",
                  text: "Guardado satisfactoriamente",
                  }).then(function(){
                    $("#myForm").trigger('reset');
                    document.location.href = "/comun/emprubrolist/";
                  });
              },
              error: function (response) {
                  var errorString = '';
                  var resp = JSON.parse(response.responseText);
                  console.log(response);
                  $.each( resp.errors, function( key, value) {
                      errorString += '<b>'+ key + '</b> <br/>'+ value + '<br/>';
                  });
                  Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    html: errorString,
                  });
              }
          });
      });
</script>

{% endblock %}
          

