{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extrastatic %}
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
{% endblock %}
{% block content %}
    <!-- For demo purpose -->
    <div class="content" style="padding-top: 15px;">
      <div class="col-md-12">

          <div class="card card-outline card-info">
            <div class="card-header" style = "padding-top: 6px;padding-bottom: 0px;">
              <h4 class="card-title">
                Registro de certificaciones
              </h4>
              <!-- tools box -->

              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pad">
              <div class="mb-3">
                <form class="form-horizontal" >
                  <div class="box-body">

                    {% for field in formA.visible_fields %}
                      <div class="form-group row">
                        <label for="{field}" class="col-sm-3 col-form-label">{{field.label_tag}}</label>
                        {% if formA.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                        <div class="col-sm-9">
                          {% render_field field readonly="readonly" class="form-control" %}
                        </div>
                        {% endif %}

                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
                  <div class="box-footer">
                    <button class="btn btn-light back-list">Regresar a la lista</button>
                  </div>
                  </div>
                </form>   
              </div>
            </div>
          </div>
      </div>
    </div>




{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(".back-list").click(function(ev){         
            ev.preventDefault();
            document.location.href = "/comun/empcertlist/";
        });
</script>
{% endblock %}
          


          

