{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extrastatic %}
    <style>
        .tooltip{
            position:fixed;
        }
    </style>
  <link rel="stylesheet" href="{% static 'css/site.css' %}">
{% endblock %}
{% block content %}
    <!-- For demo purpose -->
    <div class="content" style="padding-top: 15px;">
      <div class="col-md-12">

          <div class="card card-outline card-info">
            <div class="card-header" style = "padding-top: 6px;padding-bottom: 0px;">
              <h4 class="card-title">
                Registro de experiencia &nbsp;<button class="btn btn-info btn-sm loc-add" data-toggle="tooltip" title="Agregar nuevo"><i class="fa fa-plus"></i> </button>
              </h4>
              <!-- tools box -->

              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pad">
              <div class="mb-3">
                <table id="lista" class="table table-striped " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th align="center">Cliente</th>
                            <th align="center">Fecha</th>
                            <th align="center">Detalle</th>
                            <th align="center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in experiencia %}
                        <tr>
                            <td>{{ row.cliente }}</td>
                            <td>{{ row.fecha }}</td>
                            <td>{{ row.detalle }}</td>
                            <td>
                                <a class="btn btn-warning btn-sm" title="Sustentos" href="{% url 'comun:empresa_exp_files' row.id %}"onclick="openRegisterEditModal(event, '{{register.id}}'); return false;"><i class="fa fa-file-text"></i> </a>
                                <button class="btn btn-primary btn-sm" title="Ver" onClick="viewRow({{row.id}})"><i class="fa fa-eye"></i> </button>
                                <button class="btn btn-success btn-sm" title="Modificar" onClick="editRow({{row.id}})"><i class="fa fa-edit"></i> </button>
                                <button class="btn btn-danger btn-sm" title="Eliminar" onClick="delRow({{row.id}})"><i class="fa fa-remove"></i> </button>
                            </td>                                
                        </tr>
                        {% endfor %}                 
                    </tbody>
                </table>
            </div>
            </div>
          </div>
      </div>
    </div>

<!-- MODAL -->
<div class="modal inmodal" id="modal_register_edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-file-text modal-icon"></i> Sustentos</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(".loc-add").click(function(ev){         
            ev.preventDefault();
            document.location.href = "/comun/empexpadd/";
        });
        
        function openRegisterEditModal(event, register_id) {
            var modal = $('#modal_register_edit');
            var url = $(event.target).closest('a').attr('href');
            console.log(url)
            modal.find('.modal-body').html('').load(url, function() {
                
                modal.modal('show');
                formAjaxSubmit(popup, url);
            });
        }

        function viewRow(id){
            document.location.href = "/comun/empexpview/"+id;
        }
        function viewRow(id){
            document.location.href = "/comun/empexpview/"+id;
        }
        function editRow(id){
            document.location.href = "/comun/empexpedit/"+id;
        }
        function delRow(id){
            Swal.fire({
                title: 'Estas seguro?',
                text: "No podras revertir esta operación!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar!'
                }).then((result) => {
                    if (result.value) {
                        console.log('x');
                        $.ajax({
                            type: "DELETE",
                            dataType: "json",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            },                            
                            url: "{% url 'comun:empresa_exp_postajax_del' id=9999 %}".replace("9999", id),
                            success: function (response) {
                                Swal.fire(
                                    'Eliminado!',
                                    'El registro ha sido eliminado',
                                    'success'
                                ).then(function(){
                                    $("#myForm").trigger('reset');
                                    document.location.href = "/comun/empexplist/";
                                });
                            },
                            error: function (response) {
                                Swal.fire(
                                    'No se puede eliminar!',
                                    'El registro tiene documentos asociados',
                                    'error'
                                )
                            },
                    });
                  }}
                );
        }
</script>
{% endblock %}